footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #088395;
    border: 1px solid brown;
    border-radius: 8px;
  }
  footer p {
    color: #ccc;
  }

  /* footer {
    text-align: center;
    background-color: #f5ba13; 
    padding: 10px 0;
  } */